In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_json('corpus.json', orient='records')
data.head() #显示默认的前5行

,title,author,text
0,When You Are Old,William Butler Yeats,"When you are old and grey and full of sleep,\n..."
1,On being asked for a War Poem,William Butler Yeats,I think it better that in times like these\nA ...
2,He Wishes For The Cloths Of Heaven,William Butler Yeats,"Had I the heavens' embroidered cloths,\nEnwrou..."
3,He Wishes His Beloved Were Dead,William Butler Yeats,"Were you but lying cold and dead,\nAnd lights ..."
4,A Drinking Song,William Butler Yeats,Wine comes in at the mouth\nAnd love comes in ...

In [6]:
data.tail(3) #显示最后三行

,title,author,text
516,Serenade (For Music),Oscar Wilde,The western wind is blowing fair\nAcross the d...
517,Roses And Rue,Oscar Wilde,(To L. L.)\n\nCould we dig up this long-buried...
518,From Spring Days To Winter (For Music),Oscar Wilde,"In the glad springtime when leaves were green,..."

In [6]:
data.describe()

,title,author,text
count,519,519,519
unique,516,10,517
top,"Song of the Indian Maid, from 'Endymion'",Emily Dickinson,I think it better that in times like these\nA ...
freq,2,361,2

In [7]:
data.sort_values(by='title') #排序

,title,author,text
69,"""Arcturus"" is his other name",Emily Dickinson,"""Arcturus"" is his other name --\nI'd rather ca..."
81,"""Faith"" is a fine invention",Emily Dickinson,"""Faith"" is a fine invention\nWhen Gentlemen ca..."
224,"""Faithful to the end"" Amended",Emily Dickinson,"""Faithful to the end"" Amended\nFrom the Heaven..."
356,"""Heaven"" -- is what I cannot reach!",Emily Dickinson,"""Heaven"" -- is what I cannot reach!\nThe Apple..."
193,"""Heaven"" has different Signs -- to me --",Emily Dickinson,"""Heaven"" has different Signs -- to me --\nSome..."
...,...,...,...
21,Written On A Summer Evening,John Keats,"The church bells toll a melancholy round,\nCal..."
58,"Yesterday is History,",Emily Dickinson,"Yesterday is History,\n'Tis so far away --\nYe..."
408,"You Are Old, Father William",Lewis Carroll,"""You are old, Father william,"" the young man s..."
281,You know that Portrait in the Moon --,Emily Dickinson,You know that Portrait in the Moon --\nSo tell...
122,You see I cannot see -- your lifetime,Emily Dickinson,You see I cannot see -- your lifetime --\nI mu...

In [ ]:
authors = data.author  #提取一列
freq = authors.value_counts() #统计出现次数
freq